*,
html,
body {
    margin: 0;
    padding: 0;
    transition: .2s;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}


/* SEGALA DI NAV */
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: #eaeaea;
    align-items: center;
    background-color: #121212;
}

nav ul {
    display: flex;
    font-style: none;
    list-style-type: none;
    width: 40%;
    padding: 25px;
    justify-content: space-between;
}

nav .logo {
    margin-left: 20px;
}

nav ul li a {
    color: #eaeaea;
    text-decoration: none;
}

nav ul li:hover {
    color: red;
}


.header {

    border: 100px;
    border-color: red;
}

/* DARK MODE */
.switch {
    margin-left: 8px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-top: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 1px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}

input:checked+.slider {
    background: #b892ff;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.dark-mode {
    background: #0b0a14;
    color: #f7f0e9;
}

.dark-mode a {
    color: #f7f0e9;
}


.dark-mode li {
    color: white;
}



/* BODY 1 */
div.box {
    display: flex;
    margin-top: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

div .box p {
    display: flex;
    align-items: center;
    justify-content: center;
}


.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    margin-top: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 3px;
    font-style: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 2px 2px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0;
}

div a {
    text-decoration: none;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}


.start:hover {
    color: red;
}

/* BODY 2 */

.box2 {
    margin-top: 50vh;
    background-color: rgb(185, 65, 65);
    max-width: 70vh;
    min-width: 50vh;
    margin-left: 10vh;
    padding: 5vh;
    border-radius: 3vh;
}

.box2 p {
    color: white;
    text-align: center;
    font-size: 30px;
    display: block;
    position: relative;
}

.box3 {
    color: white;

}

.bgBoxAbout {
    display: flex;
}

.box2 h1 {
    text-align: none;
}

.id {
    padding: 15px;
    font-size: 20px;
}

.container {
    display: flex;
}

.sectionTitle {
    text-align: center;
    padding: 30px;
    position: relative;
}

/* CARD */
.card {
    margin-top: 52vh;
    display: block;
    margin-left: 15vh;
    max-height: 10vh;
    background-color: brown;
    color: black;
}

.card1 {
    display: flex;
    text-align: left;
    font-style: none;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

.card1 a {
    text-align: center;
    display: grid;
}

.bgAbout {
    display: flex;
    margin: 0;
}



/* hamburger menu */
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    margin: 15px;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #eaeaea;
    border-radius: 3px;
}

.menu-toggle input {
    position: absolute;
    width: 27px;
    height: 27px;
    opacity: 0;
    z-index: 2;
}

/* HAMBURGER ANIMATION */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}





/* RESPONSIVE AREA */

@media screen and (min-width: 576px) {
    .menu-toggle {
        display: none;
    }
}

@media screen and (max-width: 576px) {




    /* NAVBAR */



    nav ul {
        position: absolute;
        right: 0;
        top: 50px;
        width: 25%;
        padding: 10px;
        height: 19vh;
        flex-direction: column;
        align-items: center;
        background-color: #121212;
        margin: 0;
        cursor: pointer;
        border: white solid 1px;
        z-index: -1;
        transform: translateY(-100%);
    }

    nav ul.slide {
        transform: translateY(0);
    }

    .switch {
        top: 160px;
        left: 12px;
        transform: translateX(-100);
    }

    .switch.slide {
        transform: translateX(100%);
    }
}