*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: .4s;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-style: none;
    margin-top: 20px;
}


.t1 {
    text-decoration: none;
    padding: 50px;
    margin-top: 10px;
    color: black;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-top: 20px;
  }
  .switch input {
    display: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 34px;
    transition: .4s;
  }
  .slider:before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 1px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
  }
  input:checked + .slider {
    background: #b892ff;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  .dark-mode {
    background: #0b0a14;
    color: #f7f0e9;
  }
  .dark-mode a {
    color: #f7f0e9;
  }

.t1:hover {
    color: red;
}

.s1 {
    text-align: center;
}

nav {
    display: flex;
    position: relative;
    background-color: transparent;
    background-image: linear-gradient();
}

.box {
    gap: 10vh;
    margin-top: 35vh;
}
.dm {
    background: black;
    color: white;
  }

.box2 {
    margin-top: 50vh;
    background-color: rgb(185, 65, 65);
    max-width: 70vh;
    min-width: 50vh;
    margin-left: 10vh;
    padding: 5vh;
    border-radius: 3vh;
}
.box2 p {
    color: white;
    text-align: center;
    font-size: 30px;
    display: block;
    position: relative;
}
.box3 {
    color: white;

}
.bgBoxAbout {
    display: flex;
}
.box2 h1 {
    text-align: none;
}

.id {
    padding: 15px;
    font-size: 20px;
}
.img {
    background-color: white;
    text-decoration: none;
    font-size: 30vh;
    width: 30vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80vh;
    margin-bottom: 20vh;
    margin-top: 15vh;
}
.container {
    display: flex;
}

.card {
    margin-top: 52vh;
    display: block;
    margin-left: 15vh;
    max-height: 10vh;
    background-color: brown;
    color: black;
}
.card1 {
    display: flex;
    text-align: left;
    font-style: none;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}
.card1 a {
    text-align: center;
    display: grid;
}
.bgAbout {
    display: flex;
    margin: 0;
}
.sectionTitle {
    text-align: center;
    padding: 30px;
    position: relative;
}

.video {
    position: absolute;
}
@media screen and (max-width: 476px) {
    ul {
        margin-right: 5px;
        gap: 20px;
    }

    .t1 {
        padding: 0;
        margin: 10;
        font-size: 15 px;
    }

    .box2 {
        margin-left: 0;
        border-radius: 0;
    }

    .id {
        padding: 2;
    }
}

@media screen and (max-width: 382px) {

    .logo {
        margin-left: 5px;
    }

    ul {
        margin-right: 5px;
        gap: 15px;
    }

    .t1 {
        margin: 0;
        font-size: 14px;
    }
    .box3 {
        margin-left: 0;
        font-size: 2px;
        margin: 0;
    }
}