
.head{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
}

.judul {
    height: 30vh;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.c1 {
    height: 10vh;
    width: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}


.ali {
    list-style-type: none;
    padding: 10px;
    margin: 35px;
    font-size: 25px;
}

.n1 {
    text-decoration: none;
    text-decoration-style: none;
    font-family: 'Courier New', Courier, monospace;
}

.re {
    font-family: 'Courier New', Courier, monospace;
}

.navbar-brand {
    margin-left: 3vh;
}